{% extends "layouts/base.html" %}
{% block title %} نتائج البحث {% endblock %}
{% block content %}
<div style="padding: 20px;">
    <h2>Books Found:</h2>
    {% if books %}
        <table border="1" style="width:100%; border-collapse: collapse;">
            <tr style="background-color: #f2f2f2;">
                <th>Title</th>
                <th>Author</th>
            </tr>
            {% for book in books %}
            <tr>
                <td style="padding: 8px;">{{ book.title }}</td>
                <td style="padding: 8px;">{{ book.author }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No books found.</p>
    {% endif %}
    <br>
    <a href="{% url 'books.search' %}">New Search</a>
</div>
{% endblock %}